<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Teacher</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/admin-panel :: div"></div>

<body>
    <div class="container">
        <h2>Create New Teacher</h2>
        <form th:action="@{/teachers/create-teacher}" method="post">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="department">Department:</label>
                <select id="department" name="department" required>
                    <option value="">Select Department</option>
                    <!-- Generate options for departments using Thymeleaf -->
                    <option th:each="department : ${departments}" th:value="${department.id}"
                        th:text="${department.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="course">Main Course:</label>
                <select id="course" name="mainCourse" required>
                    <option value="">Select Main Course</option>
                    <!-- Generate options for courses using Thymeleaf -->
                    <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.courseName}">
                    </option>
                </select>
            </div>

            <button type="submit">Create Teacher</button>
        </form>

    </div>

    <div id="success-message-container" th:if="${successMessage}">
        <span class="success-message" th:text="${successMessage}"></span>
    </div>

    <div id="error-message-container" th:if="${errorMessage}">
        <span class="error-message" th:text="${errorMessage}"></span>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/admin-main.js}"></script>
    <script th:src="@{/js/message.js}"></script>
</body>

</html>