<!-- search.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search Panel</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/admin-panel :: div"></div>

<body>
    <div class="container">
        <div class="search-block">
            <h2>Search Panel</h2>

            <div class="search-container">
                <!-- Search by Course Name -->
                <div class="search-section">
                    <div class="search-square">
                        <h3>Find Teachers related to Course</h3>
                        <form th:action="@{/teachers/teacher-search}" method="post">
                            <input type="hidden" name="searchType" value="course" />
                            <label for="courseName">Course Name:</label>
                            <input type="text" id="courseName" name="courseName" />
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <!-- Search by Department Faculty -->
                <div class="search-section">
                    <div class="search-square">
                        <h3>Find Teachers by Faculty</h3>
                        <form th:action="@{/teachers/teacher-search}" method="post">
                            <input type="hidden" name="searchType" value="faculty" />
                            <label for="facultyName">Faculty Name:</label>
                            <input type="text" id="facultyName" name="facultyName" />
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <!-- Search by Department ID and Faculty ID -->
                <div class="search-section">
                    <div class="search-square">
                        <h3>Find Teachers by Department</h3>
                        <form th:action="@{/teachers/teacher-search}" method="post">
                            <input type="hidden" name="searchType" value="department" />
                            <label for="departmentId">Department ID:</label>
                            <input type="text" id="departmentId" name="departmentId" />
                            <label for="facultyId">Faculty ID:</label>
                            <input type="text" id="facultyId" name="facultyId" />
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <!-- Search by Teacher ID -->
                <div class="search-section">
                    <div class="search-square">
                        <h3>Find Teacher by ID</h3>
                        <form th:action="@{/teachers/teacher-search}" method="post">
                            <input type="hidden" name="searchType" value="teacher" />
                            <label for="teacherId">Teacher ID:</label>
                            <input type="text" id="teacherId" name="teacherId" />
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <!-- Search by Name and Family Name -->
                <div class="search-section">
                    <div class="search-square">
                        <h3>Find Teacher by Name</h3>
                        <form th:action="@{/teachers/teacher-search}" method="post">
                            <input type="hidden" name="searchType" value="firstNameAndLastName" />
                            <label for="firstName">Name:</label>
                            <input type="text" id="firstName" name="firstName" />
                            <label for="lastName">Family Name:</label>
                            <input type="text" id="lastName" name="lastName" />
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
</body>

</html>