<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Teachers List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/admin-panel :: div"></div>

<body>

    <div class="container">
        <h2>Teachers List</h2>
        <table class="table table-bordered">
            <caption hidden>All Teachers Table</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Department</th>
                    <th>Main Course</th>
                    <th>Additional Courses</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="teacher : ${teachers}">
                    <td th:text="${teacher.id}"></td>
                    <td th:text="${teacher.firstName}"></td>
                    <td th:text="${teacher.lastName}"></td>
                    <td th:text="${teacher.department.name}"></td>
                    <td th:text="${teacher.mainCourse.courseName}"></td>
                    <td>
                        <span th:each="course, indexStat : ${teacher.additionalCourses}">
                            <span th:text="${course.courseName}"></span>
                            <span th:unless="${indexStat.last}">, </span>
                            <!-- Add a comma unless it's the last course -->
                            <br th:unless="${indexStat.last}" /> <!-- Add a line break unless it's the last course -->
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/admin-main.js}"></script>
</body>

</html>