<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Classroom List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/nav-panel :: div"></div>

<body>

    <div class="container">
        <h2>Search Panel</h2>

        <div class="search-block">
            <!-- Search Class Room by ID -->
            <div class="search-section">
                <div class="search-square">
                    <h3>Find Classroom by ID</h3>
                    <form th:action="@{/classroom/search-result}" method="get">
                        <input type="hidden" name="searchType" value="classroom" />
                        <label for="classroomId">Classroom ID:</label>
                        <input type="text" id="classroomId" name="classroomId" required />
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>

            <!-- Search by Street -->
            <div class="search-section">
                <div class="search-square">
                    <h3>Find Classroom by Street</h3>
                    <form th:action="@{/classroom/search-result}" method="get">
                        <input type="hidden" name="searchType" value="street" />
                        <label for="street">Street Name:</label>
                        <input type="text" id="street" name="street" required />
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>

            <!-- Search by Street and Building Number-->
            <div class="search-section">
                <div class="search-square">
                    <h3>Find Classroom by Street and Building</h3>
                    <form th:action="@{/classroom/search-result}" method="get">
                        <input type="hidden" name="searchType" value="streetAndBuildingNumber" />
                        <label for="street">Street Name:</label>
                        <input type="text" id="street" name="street" required />
                        <label for="buildingNumber">Building Number:</label>
                        <input type="text" id="buildingNumber" name="buildingNumber" required />
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <h2>Classroom List</h2>
        <table class="table table-bordered">
            <caption hidden>All Classroom Table</caption>
            <thead>
                <tr>
                    <th style="border: none; width: 3vh;" sec:authorize="hasRole('ROLE_ADMIN')"></th>
                    <th>ID</th>
                    <th>Street Name</th>
                    <th>Building Number</th>
                    <th>Room Number</th>
                    <th>Lessons Scheduled</th>
                    <th style="border: none; width: 3vh;" sec:authorize="hasRole('ROLE_ADMIN')"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="classroom, rowStat : ${classrooms}">
                    <td style="border: none;" sec:authorize="hasRole('ROLE_ADMIN')">
                        <!-- Edit Button -->
                        <a th:href="@{/classroom/classroom-card/{classroomId}(classroomId=${classroom.id})}">
                            <button th:id="'editButton-' + ${rowStat.index}" class="icon-button">
                                <i class="fas fa-edit edit-icon"></i>
                            </button>
                        </a>
                    </td>
                    <td th:text="${classroom.id}"></td>
                    <td th:text="${classroom.street}"></td>
                    <td th:text="${classroom.buildingNumber}"></td>
                    <td th:text="${classroom.roomNumber}"></td>
                    <td>
                        <select>
                            <option th:each="timetable : ${classroom.timeTables}" th:text="${'Date: ' + timetable.date + ', ' + timetable.timeFrom + '-' + timetable.timeTo + ', ' 
                                            + timetable.course.courseName + ', ' + timetable.teacher.firstName + ' '
                                            + timetable.teacher.lastName}">
                            </option>
                        </select>
                    </td>
                    <td style="border: none;" sec:authorize="hasRole('ROLE_ADMIN')">
                        <!-- Remove Button -->
                        <form th:action="@{/classroom/delete/{classroomId}(classroomId=${classroom.id})}" method="post">
                            <input type="hidden" name="classroomId" th:value="${classroom.id}" />
                            <button th:id="'removeButton-' + ${rowStat.index}" class="icon-button remove-button"
                                type="submit">
                                <i class="fas fa-trash-alt remove-icon"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
    <script th:src="@{/js/table-buttons.js}"></script>
</body>

</html>