<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Staff List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/admin-panel :: div"></div>

<div th:replace="fragments/staff-search :: div"></div>

<body>

    <div class="container">
        <h2>Staff List</h2>
        <table class="table table-bordered">
            <caption hidden>All Staff Table</caption>
            <thead>
                <tr>
                    <th style="border: none; width: 3vh;"></th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Active</th>
                    <th>Position</th>
                    <th>Function</th>
                    <th style="border: none; width: 3vh;"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="staff, rowStat : ${staff}">
                    <td style="border: none;">
                        <!-- Edit Button -->
                        <a th:href="@{/admin/staff/staff-card/{staffId}(staffId=${staff.id})}">
                            <button th:id="'editButton-' + ${rowStat.index}" class="icon-button">
                                <i class="fas fa-edit edit-icon"></i>
                            </button>
                        </a>
                    </td>
                    <td th:text="${staff.id}"></td>
                    <td th:text="${staff.firstName}"></td>
                    <td th:text="${staff.lastName}"></td>
                    <td th:text="${staff.active}"></td>
                    <td th:text="${staff.position}"></td>
                    <td th:text="${staff.function} ?: 'NIL'"></td>
                    <td style="border: none;">
                        <!-- Remove Button -->
                        <form th:action="@{/admin/staff/delete/{staffId}(staffId=${staff.id})}" method="post">
                            <input type="hidden" name="staffId" th:value="${staff.id}" />
                            <button th:id="'removeButton-' + ${rowStat.index}" class="icon-button remove-button"
                                type="submit">
                                <i class="fas fa-trash-alt remove-icon"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
    <script th:src="@{/js/table-buttons.js}"></script>
</body>

</html>