<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Group List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/user-panel :: div"></div>

<body>

    <div class="container">
        <h2>Search Panel</h2>

        <div class="search-block">
            <!-- Search Group by ID -->
            <div class="search-section">
                <div class="search-square">
                    <h3>Find Group by ID</h3>
                    <form th:action="@{/user/group/search-result}" method="get">
                        <input type="hidden" name="searchType" value="group" />
                        <label for="departmentId">Group ID:</label>
                        <input type="text" id="grouptId" name="groupId" required />
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>

            <!-- Search by Group Name -->
            <div class="search-section">
                <div class="search-square">
                    <h3>Find Group by Name</h3>
                    <form th:action="@{/user/group/search-result}" method="get">
                        <input type="hidden" name="searchType" value="groupName" />
                        <label for="groupName">Group Name:</label>
                        <input type="text" id="groupName" name="groupName" required />
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>

            <!-- Search by Faculty Name -->
            <div class="search-section">
                <div class="search-square">
                    <h3>Find Group by Faculty</h3>
                    <form th:action="@{/user/group/search-result}" method="get">
                        <input type="hidden" name="searchType" value="faculty" />
                        <label for="facultyName">Faculty Name:</label>
                        <input type="text" id="facultyName" name="facultyName" required />
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Group List</h2>
        <table class="table table-bordered">
            <caption hidden>All Groups Table</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Group Name</th>
                    <th>Faculty Name</th>
                    <th>Students</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="group, rowStat : ${groups}">
                    <td th:text="${group.id}"></td>
                    <td th:text="${group.groupName}"></td>
                    <td th:text="${group.faculty.facultyName}"></td>
                    <td>
                        <select>
                            <option th:each="student : ${group.students}"
                                th:text="${'ID: ' + student.id + ', ' + student.firstName + ' ' + student.lastName}">
                            </option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
</body>

</html>