<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Staff List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/user-panel :: div"></div>

<div th:replace="fragments/staff-search :: div"></div>

<body>

    <div class="container">
        <h2>Staff List</h2>
        <table class="table table-bordered">
            <caption hidden>All Staff Table</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Active</th>
                    <th>Position</th>
                    <th>Function</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="staff, rowStat : ${staff}">
                    <td th:text="${staff.id}"></td>
                    <td th:text="${staff.firstName}"></td>
                    <td th:text="${staff.lastName}"></td>
                    <td th:text="${staff.active}"></td>
                    <td th:text="${staff.position}"></td>
                    <td th:text="${staff.function} ?: 'NIL'"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
</body>

</html>