<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Time Table</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/admin-panel :: div"></div>

<div th:replace="fragments/timetable-search :: div"></div>

<body>

    <div class="container">
        <h2>Time Table Schedule</h2>
        <table class="table table-bordered">
            <caption hidden>Scheduled Time Table</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Time From</th>
                    <th>Time To</th>
                    <th>Teacher</th>
                    <th>Course</th>
                    <th>Group</th>
                    <th>Class-Room</th>
                    <th>Students Assigned</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="timetable, rowStat : ${timetables}">
                    <td th:text="${timetable.id}"></td>
                    <td th:text="${timetable.date}"></td>
                    <td th:text="${timetable.timeFrom}"></td>
                    <td th:text="${timetable.timeTo}"></td>
                    <td
                        th:text="${'ID: ' + timetable.teacher.id + ', ' + timetable.teacher.firstName + ' ' + timetable.teacher.lastName}">
                    </td>
                    <td th:text="${timetable.course.courseName}"></td>
                    <td th:text="${timetable.group != null ? timetable.group.groupName : 'N/A'}"></td>
                    <td
                        th:text="${timetable.classRoom.street + ', ' + timetable.classRoom.buildingNumber + ', Room ' + timetable.classRoom.roomNumber}">
                    </td>

                    <td>
                        <span th:if="${not #lists.isEmpty(timetable.studentsRelatedToCourse)}">
                            <select>
                                <option th:each="student : ${timetable.studentsRelatedToCourse}"
                                    th:text="${'ID: ' + student.id + ', ' + student.firstName + ' ' + student.lastName}">
                                </option>
                            </select>
                        </span>
                        <span th:unless="${not #lists.isEmpty(timetable.studentsRelatedToCourse)}">N/A</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
</body>

</html>