<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Alerts</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />

<body>
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/nav-panel :: div"></div>

    <div class="main-alert-container">

        <div class="feature-container">
            <h3 sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_STAFF')">Broadcast Message</h3>

            <form th:action="@{/admin/send-broadcast}" method="post" sec:authorize="hasRole('ROLE_ADMIN')">
                <textarea class="alert-textarea" id="alertMessage" name="alertMessage"
                    placeholder="Type your message here" required></textarea>
                <button class="icon-button send-button">
                    <i class="fas fa-comment"></i>
                </button>
            </form>

            <form th:action="@{/staff/send-broadcast}" method="post" sec:authorize="hasRole('ROLE_STAFF')">
                <textarea class="alert-textarea" id="alertMessage" name="alertMessage"
                    placeholder="Type your message here" required></textarea>
                <button class="icon-button send-button">
                    <i class="fas fa-comment"></i>
                </button>
            </form>

            <!-- date search-->
            <h3>Look for Messages</h3>

            <!-- date search feature Admin-->
            <form th:action="@{/admin/selected-alert/{adminId}(adminId=${admin.id})}" method="get"
                sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="form-group">
                    <label for="dateFrom">From:</label>
                    <input type="date" id="dateFrom" name="dateFrom" required class="date-input" />
                </div>
                <div class="form-group">
                    <label for="dateTo">To:</label>
                    <input type="date" id="dateTo" name="dateTo" required class="date-input" />
                </div>

                <button class="icon-button send-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>

            <!-- date search feature Staff-->
            <form th:action="@{/staff/selected-alert/{staffId}(staffId=${staff.id})}" method="get"
                sec:authorize="hasRole('ROLE_STAFF')">
                <div class="form-group">
                    <label for="dateFrom">From:</label>
                    <input type="date" id="dateFrom" name="dateFrom" required class="date-input" />
                </div>
                <div class="form-group">
                    <label for="dateTo">To:</label>
                    <input type="date" id="dateTo" name="dateTo" required class="date-input" />
                </div>

                <button class="icon-button send-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>

            <!-- date search feature Staff-->
            <form th:action="@{/teacher/selected-alert/{teacherId}(teacherId=${teacher.id})}" method="get"
                sec:authorize="hasRole('ROLE_TEACHER')">
                <div class="form-group">
                    <label for="dateFrom">From:</label>
                    <input type="date" id="dateFrom" name="dateFrom" required class="date-input" />
                </div>
                <div class="form-group">
                    <label for="dateTo">To:</label>
                    <input type="date" id="dateTo" name="dateTo" required class="date-input" />
                </div>

                <button class="icon-button send-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>

            <!-- date search feature Staff-->
            <form th:action="@{/student/selected-alert/{studentId}(studentId=${student.id})}" method="get"
                sec:authorize="hasRole('ROLE_STUDENT')">
                <div class="form-group">
                    <label for="dateFrom">From:</label>
                    <input type="date" id="dateFrom" name="dateFrom" required class="date-input" />
                </div>
                <div class="form-group">
                    <label for="dateTo">To:</label>
                    <input type="date" id="dateTo" name="dateTo" required class="date-input" />
                </div>

                <button class="icon-button send-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

        <div class="alerts-scroll-container">
            <div class="alert-container">

                <!-- Admin Alerts -->
                <div th:each="alert, rowStat : ${alerts}" sec:authorize="hasRole('ROLE_ADMIN')" class="alert-box"
                    th:class="${alert.read ? 'alert-box' : 'alert-box unread'}">
                    <div class="alert-timestamp"
                        th:text="${#temporals.format(alert.timestamp, 'dd-MMM-yy HH:mm') + ' from: ' + alert.sender}">
                    </div>
                    <div class="alert-message" th:text="${alert.message}"></div>

                    <div class="alert-operations-container">
                        <!-- mark as read -->
                        <form th:action="@{/admin/mark-alert-as-read/{alertId}(alertId=${alert.id})}" method="post">
                            <button type="submit" class="icon-button mark-as-read-button" name="markAsRead">
                                <i class="fas fa-thumbs-up"></i>
                            </button>
                        </form>

                        <!-- remove button -->
                        <form th:action="@{/admin/remove-alert/{alertId}(alertId=${alert.id})}" method="post">
                            <button type="submit" class="icon-button remove-button">
                                <i class="fas fa-trash-alt"></i> </button>
                        </form>
                    </div>
                </div>

                <!-- Teacher Alerts -->
                <div th:each="alert, rowStat : ${alerts}" sec:authorize="hasRole('ROLE_TEACHER')" class="alert-box"
                    th:class="${alert.read ? 'alert-box' : 'alert-box unread'}">
                    <div class="alert-timestamp"
                        th:text="${#temporals.format(alert.timestamp, 'dd-MMM-yy HH:mm') + ' from: ' + alert.sender}">
                    </div>
                    <div class="alert-message" th:text="${alert.message}"></div>

                    <div class="alert-operations-container">
                        <!-- mark as read -->
                        <form th:action="@{/teacher/mark-alert-as-read/{alertId}(alertId=${alert.id})}" method="post">
                            <button type="submit" class="icon-button mark-as-read-button" name="markAsRead">
                                <i class="fas fa-thumbs-up"></i>
                            </button>
                        </form>

                        <!-- remove button -->
                        <form th:action="@{/teacher/remove-alert/{alertId}(alertId=${alert.id})}" method="post">
                            <button type="submit" class="icon-button remove-button">
                                <i class="fas fa-trash-alt"></i> </button>
                        </form>
                    </div>
                </div>

                <!-- Student Alerts -->
                <div th:each="alert, rowStat : ${alerts}" sec:authorize="hasRole('ROLE_STUDENT')" class="alert-box"
                    th:class="${alert.read ? 'alert-box' : 'alert-box unread'}">
                    <div class="alert-timestamp"
                        th:text="${#temporals.format(alert.timestamp, 'dd-MMM-yy HH:mm') + ' from: ' + alert.sender}">
                    </div>
                    <div class="alert-message" th:text="${alert.message}"></div>

                    <div class="alert-operations-container">
                        <!-- mark as read -->
                        <form th:action="@{/student/mark-alert-as-read/{alertId}(alertId=${alert.id})}" method="post">
                            <button type="submit" class="icon-button mark-as-read-button" name="markAsRead">
                                <i class="fas fa-thumbs-up"></i>
                            </button>
                        </form>

                        <!-- remove button -->
                        <form th:action="@{/student/remove-alert/{alertId}(alertId=${alert.id})}" method="post">
                            <button type="submit" class="icon-button remove-button">
                                <i class="fas fa-trash-alt"></i> </button>
                        </form>
                    </div>
                </div>

                <!-- Staff Alerts -->
                <div th:each="alert, rowStat : ${alerts}" sec:authorize="hasRole('ROLE_STAFF')" class="alert-box"
                    th:class="${alert.read ? 'alert-box' : 'alert-box unread'}">
                    <div class="alert-timestamp"
                        th:text="${#temporals.format(alert.timestamp, 'dd-MMM-yy HH:mm') + ' from: ' + alert.sender}">
                    </div>
                    <div class="alert-message" th:text="${alert.message}"></div>

                    <div class="alert-operations-container">
                        <!-- mark as read -->
                        <form th:action="@{/staff/mark-alert-as-read/{alertId}(alertId=${alert.id})}" method="post">
                            <button type="submit" class="icon-button mark-as-read-button" name="markAsRead">
                                <i class="fas fa-thumbs-up"></i>
                            </button>
                        </form>

                        <!-- remove button -->
                        <form th:action="@{/staff/remove-alert/{alertId}(alertId=${alert.id})}" method="post">
                            <button type="submit" class="icon-button remove-button">
                                <i class="fas fa-trash-alt"></i> </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
</body>

</html>