<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Contacts - University</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="contacts-main">

        <div class="contact-info-box">
            <div class="container">
                <h2>Contact Information</h2>
                <p>For any inquiries or assistance, please contact the following:</p>
            </div>


            <div class="contact-info">General Enquiries: info@university.edu</div>
            <div class="contact-info">Admissions Office: admissions@university.edu</div>
            <div class="contact-info">Registrar's Office: registrar@university.edu</div>
            <div class="contact-info">Student Services: studentservices@university.edu</div>
        </div>

        <div class="image-box">
            <div class="contact-image-container">
                <img th:src="@{/img/contact-image.png}" alt="Image" />
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>