<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Contacts - University</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
    <header>
        <h1>Welcome to University</h1>
    </header>

    <section>
        <h2>Contact Information</h2>
        <p>For any inquiries or assistance, please contact the following:</p>
        <ul>
            <li>General Enquiries: info@university.edu</li>
            <li>Admissions Office: admissions@university.edu</li>
            <li>Registrar's Office: registrar@university.edu</li>
            <li>Student Services: studentservices@university.edu</li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2023 University CMS. All rights reserved.</p>
    </footer>

    <script th:src="@{/js/scripts.js}"></script>
</body>

</html>