<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>University CMS</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <section class="features">
        <a th:href="@{/admin/main}" class="feature-link">
            <div class="feature">
                <h2>University Management</h2>
                <p>Create, update, delete and manage features offered by the university.</p>
            </div>
        </a>

        <div class="feature">
            <a th:href="@{/teacher/main}" class="feature-link">
                <h2>Teacher Directory</h2>
                <p>Access to all related information and features provided for teacher account.</p>
        </div>
        </a>

        <div class="feature">
            <a th:href="@{/student/main}" class="feature-link">
                <h2>Student Directory</h2>
                <p>Access to all related information and features provided for student account.</p>
        </div>
        </a>

        <div class="feature">
            <a th:href="@{/staff/main}" class="feature-link">
                <h2>Staff Directory</h2>
                <p>Access to all related information and features provided for staff account.</p>
        </div>
        </a>

    </section>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>