<div class="container">
    <aside id="sidebar">
        <nav>
            <ul class="menu">
                <li class="menu-item separate">
                    <div class="menu-item-box">
                        <a th:href="@{~/admin/main}">To Main</a>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Teacher</span>
                        <ul class="submenu">
                            <li><a href="#">Create New Teacher</a></li>
                            <li><a href="#">Open Teacher Card</a></li>
                            <li><a th:href="@{~/teachers/teacher-search}">Search Panel</a></li>
                            <li><a th:href="@{~/teachers/teacher-list}">View All Teachers</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Student</span>
                        <ul class="submenu">
                            <li><a href="#">View All Students</a></li>
                            <li><a href="#">Students OPS</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Staff</span>
                        <ul class="submenu">
                            <li><a href="#">View All Staff</a></li>
                            <li><a href="#">Staff OPS</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Faculty</span>
                        <ul class="submenu">
                            <li><a href="#">View All Faculties</a></li>
                            <li><a href="#">Faculties OPS</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Department</span>
                        <ul class="submenu">
                            <li><a href="#">View All Departments</a></li>
                            <li><a href="#">Departments OPS</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Group</span>
                        <ul class="submenu">
                            <li><a href="#">View All Groups</a></li>
                            <li><a href="#">Groups OPS</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Course</span>
                        <ul class="submenu">
                            <li><a href="#">View All Courses</a></li>
                            <li><a href="#">Courses OPS</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">ClassRoom</span>
                        <ul class="submenu">
                            <li><a href="#">View All ClassRooms</a></li>
                            <li><a href="#">ClassRooms OPS</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">TimeTable</span>
                        <ul class="submenu">
                            <li><a href="#">View All TimeTables</a></li>
                            <li><a href="#">TimeTable OPS</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Admin</span>
                        <ul class="submenu">
                            <li><a href="#">View All Admins</a></li>
                            <li><a href="#">Admins OPS</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </aside>
</div>