<div class="container">
    <aside id="sidebar">
        <nav>
            <ul class="menu">
                <li class="menu-item separate">
                    <div class="menu-item-box">
                        <a th:href="@{~/admin/main}">My Space</a>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Teacher</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/admin/teacher/create-teacher}">Create New Teacher</a></li>
                            <li><a th:href="@{~/admin/teacher/edit-teacher-list}">View All Teachers</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Student</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/admin/student/create-student}">Create New Student</a></li>
                            <li><a th:href="@{~/admin/student/edit-student-list}">View All Students</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Staff</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/admin/staff/create-staff}">Create New Staff</a></li>
                            <li><a th:href="@{~/admin/staff/edit-staff-list}">View All Staff</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Faculty</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/admin/faculty/create-faculty}">Create New Faculty</a></li>
                            <li><a th:href="@{~/admin/faculty/edit-faculty-list}">View All Faculties</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Department</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/admin/department/create-department}">Create New Department</a></li>
                            <li><a th:href="@{~/admin/department/edit-department-list}">View All Departments</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Group</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/admin/group/create-group}">Create New Group</a></li>
                            <li><a th:href="@{~/admin/group/edit-group-list}">View All Groups</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Course</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/admin/course/create-course}">Create New Course</a></li>
                            <li><a th:href="@{~/admin/course/edit-course-list}">View All Coursees</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">ClassRoom</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/admin/classroom/create-classroom}">Create New Class-Room</a></li>
                            <li><a th:href="@{~/admin/classroom/edit-classroom-list}">View All Class-Rooms</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">TimeTable</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/admin/timetable/group-timetable-form}">Create Group Time-Table</a></li>
                            <li><a th:href="@{~/admin/timetable/course-timetable-form}">Create Course Time-Table</a>
                            </li>
                            <li><a th:href="@{~/admin/timetable/edit-timetable-list}">View All TimeTables</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Admin</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/admin/create-admin}">Create New Admin</a></li>
                            <li><a th:href="@{~/admin/edit-admin-list}">View All Admins</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </aside>
</div>