<div class="container">
    <h2>Search Panel</h2>

    <div class="search-block">
        <!-- Search by Group  by ID -->
        <div class="search-section">
            <div class="search-square">
                <h3>Find Group by ID</h3>
                <form th:action="@{/admin/group/search-result}" method="get">
                    <input type="hidden" name="searchType" value="group" />
                    <label for="departmentId">Group ID:</label>
                    <input type="text" id="grouptId" name="groupId" required />
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>

        <!-- Search by Group Name -->
        <div class="search-section">
            <div class="search-square">
                <h3>Find Group by Name</h3>
                <form th:action="@{/admin/group/search-result}" method="get">
                    <input type="hidden" name="searchType" value="groupName" />
                    <label for="groupName">Group Name:</label>
                    <input type="text" id="groupName" name="groupName" required />
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>

        <!-- Search by Faculty Name -->
        <div class="search-section">
            <div class="search-square">
                <h3>Find Group by Faculty Name</h3>
                <form th:action="@{/admin/group/search-result}" method="get">
                    <input type="hidden" name="searchType" value="faculty" />
                    <label for="facultyName">Faculty Name:</label>
                    <input type="text" id="facultyName" name="facultyName" required />
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>