<div class="container">
    <aside id="sidebar">
        <nav>
            <ul class="menu">

                <li class="menu-item separate" sec:authorize="hasRole('ROLE_TEACHER')">
                    <div class="menu-item-box">
                        <a th:href="@{/user/teacher/main}">
                            My Space
                        </a>
                    </div>
                </li>
                <div class="menu-item separate" sec:authorize="hasRole('ROLE_STUDENT')">
                    <div class="menu-item-box">
                        <a th:href="@{/user/student/main}">
                            My Space
                        </a>
                    </div>
                </div>


                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Teacher</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/user/teacher-list}">View All Teachers</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Student</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/user/student-list}">View All Students</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Staff</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/user/staff-list}">View All Staff</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Faculty</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/user/faculty-list}">View All Faculties</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Department</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/user/department-list}">View All Departments</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Group</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/user/group-list}">View All Groups</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">Course</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/user/course-list}">View All Coursees</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">ClassRoom</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/user/classroom-list}">View All Class-Rooms</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-item-box">
                        <span class="menu-item-title">TimeTable</span>
                        <ul class="submenu">
                            <li><a th:href="@{~/user/timetable}">View All TimeTables</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item separate">
                    <div class="menu-item-box">
                        <a th:href="@{/logout}">Log out</a>
                    </div>
                </li>
            </ul>
        </nav>
    </aside>
</div>