<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Group Card</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>

<body>

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/nav-panel :: div"></div>

    <div class="container-entity-card">

        <div class="entity-details">
            <h2>Group Details</h2>
            <form th:action="@{/group/edit-group/{groupId}(groupId=${group.id})}" method="post">
                <div class="form-group">
                    <label for="groupName">Group Name:</label>
                    <input type="text" id="groupName" th:value="${group.groupName}" name="groupName" readonly
                        required />
                </div>
                <div class="form-group">
                    <label for="faculty">Faculty:</label>
                    <select id="faculty" name="faculty" readonly required>
                        <!-- Display the currently assigned faculty initially -->
                        <option th:value="${'ID: ' + group.faculty.id + ', ' + group.faculty.facultyName}">
                        </option>
                        <!-- Generate options for other faculties using Thymeleaf -->
                        <option th:each="faculty : ${faculties}" th:value="${faculty.id}"
                            th:text="${'ID: ' + faculty.id + ', ' + faculty.facultyName}"
                            th:selected="${group.faculty.id == faculty.id}">
                        </option>
                    </select>
                </div>

                <!-- Container for buttons -->
                <div class="button-container" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button id="saveButton" type="submit" class="button-common-style">Save</button>
                    <button id="editButton" type="button" class="button-common-style">Edit</button>
                </div>
            </form>
        </div>

        <!-- Add textarea for alert message -->
        <div class="entity-details">
            <h3>Send Group Message</h3>
            <form th:action="@{/group/send-alert/{groupId}(groupId=${group.id})}" method="post">
                <div class="form-group">
                    <textarea class="alert-textarea" id="alertMessage" name="alertMessage"
                        placeholder="Type your message here" style="height: 100px; flex-grow: 1;" required></textarea>
                </div>
                <div class="button-container">
                    <button class="icon-button send-button">
                        <i class="fas fa-comment"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
    <script th:src="@{/js/enable-edit.js}"></script>

</body>

</html>