<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Time Table</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/admin-panel :: div"></div>

<body>

    <div class="container">
        <h2>Time Table Schedule</h2>
        <table class="table table-bordered">
            <caption hidden>Scheduled Time Table</caption>
            <thead>
                <tr>
                    <th style="border: none; width: 3vh;"></th>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Time From</th>
                    <th>Time To</th>
                    <th>Teacher</th>
                    <th>Course</th>
                    <th>Class-Room</th>
                    <th style="border: none; width: 3vh;"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="timetable, rowStat : ${timetables}">
                    <td style="border: none;">
                        <!-- Edit Button -->
                        <a th:href="@{/admin/timetable/timetable-card/{timetableId}(timetableId=${timetable.id})}">
                            <button th:id="'editButton-' + ${rowStat.index}" class="icon-button">
                                <i class="fas fa-edit edit-icon"></i>
                            </button>
                        </a>
                    </td>
                    <td th:text="${timetable.id}"></td>
                    <td th:text="${timetable.date}"></td>
                    <td th:text="${timetable.timeFrom}"></td>
                    <td th:text="${timetable.timeTo}"></td>
                    <td th:text="${timetable.teacher.firstName}"></td>
                    <td th:text="${timetable.course.courseName}"></td>
                    <td th:text="${timetable.classRoom.id}"></td>
                    <td style="border: none;">
                        <!-- Remove Button -->
                        <form th:action="@{/admin/timetable/delete/{timetableId}(timetableId=${timetable.id})}"
                            method="post">
                            <input type="hidden" name="timetableId" th:value="${timetable.id}" />
                            <button th:id="'removeButton-' + ${rowStat.index}" class="icon-button remove-button"
                                type="submit">
                                <i class="fas fa-trash-alt remove-icon"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
    <script th:src="@{/js/table-buttons.js}"></script>
</body>

</html>