<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Teachers List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/admin-panel :: div"></div>

<body>

    <div class="container">
        <h2>Teachers List</h2>
        <table class="table table-bordered">
            <caption hidden>All Teachers Table</caption>
            <thead>
                <tr>
                    <th style="border: none; width: 3vh;"></th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Department</th>
                    <th>Main Course</th>
                    <th>Additional Courses</th>
                    <th style="border: none; width: 3vh;"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="teacher, rowStat : ${teachers}">
                    <td style="border: none;">
                        <button th:id="'editButton-' + ${rowStat.index}" class="icon-button">
                            <i class="fas fa-edit edit-icon"></i>
                        </button>
                    </td>
                    <td th:text="${teacher.id}"></td>
                    <td th:text="${teacher.firstName}"></td>
                    <td th:text="${teacher.lastName}"></td>
                    <td th:text="${teacher.department.name}"></td>
                    <td th:text="${teacher.mainCourse.courseName}"></td>
                    <td>
                        <span th:each="course, indexStat : ${teacher.additionalCourses}">
                            <span th:text="${course.courseName}"></span>
                            <span th:unless="${indexStat.last}">, </span>
                            <!-- Add a comma unless it's the last course -->
                            <br th:unless="${indexStat.last}" /> <!-- Add a line break unless it's the last course -->
                        </span>
                    </td>
                    <td style="border: none;">
                        <!-- Remove Button -->
                        <form th:action="@{/teachers/delete/{teacherId}(teacherId=${teacher.id})}" method="post">
                            <button th:id="'removeButton-' + ${rowStat.index}" class="icon-button remove-button"
                                type="submit">
                                <i class="fas fa-trash-alt remove-icon"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/message :: div"></div>

    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
    <script th:src="@{/js/table-buttons.js}"></script>

</body>

</html>