<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Teacher Card</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>

<body>

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/admin-panel :: div"></div>

    <div class="container-entity-card">

        <!-- Block for teacher-details -->
        <div class="entity-details">
            <h2>Teacher Details</h2>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" th:value="${teacher.firstName}" name="firstName" readonly />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" th:value="${teacher.lastName}" name="lastName" readonly />
            </div>
            <div class="form-group">
                <label for="active">Active:</label>
                <select id="active" name="active" readonly>
                    <option th:value="${teacher.active}" th:selected="${teacher.active}">True</option>
                    <option th:value="${!teacher.active}" th:selected="${!teacher.active}">False</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" th:value="${teacher.email}" name="email" readonly />
            </div>
            <div class="form-group">
                <label for="department">Department:</label>
                <input type="text" id="department" th:value="${teacher.department.name}" name="department" readonly />
            </div>
            <!-- Container for buttons -->
            <div class="button-container">
                <form th:action="@{/admin/teacher/edit-teacher/{teacherId}(teacherId=${teacher.id})}" method="post">
                    <button id="saveButton" type="submit" class="button-common-style">Save</button>
                    <button id="editButton" type="button" class="button-common-style">Edit</button>
                </form>
            </div>
        </div>

        <!-- Block for Courses -->
        <div class="courses">
            <h2>Assigned Courses</h2>
            <table class="table table-bordered">
                <caption hidden>Assigned Courses Table</caption>
                <thead>
                    <tr>
                        <th style="border: none; width: 3vh;"></th>
                        <th style="border: none; width: 3vh;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course, rowStat : ${teacher.assignedCourses}">
                        <td style="white-space: nowrap;" th:text="${course.courseName}"></td>
                        <td style="border: none;">
                            <!-- Remove Button -->
                            <form
                                th:action="@{/admin/teacher/remove-course/{teacherId}/{courseName}(teacherId=${teacher.id}, courseName=${course.courseName})}"
                                method="post">
                                <input type="hidden" name="courseName" th:value="${course.courseName}" />
                                <button th:id="'removeButton-' + ${rowStat.index}" class="remove-icon" type="submit">
                                    <i class="fas fa-trash-alt remove-icon"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Generate options for Additional courses using Thymeleaf -->
            <form th:action="@{/admin/teacher/assign-course}" method="post">
                <input type="hidden" name="teacherId" th:value="${teacher.id}" />
                <select name="courseName">
                    <option value="">Select Additional Course</option>
                    <option th:each="course : ${courses}" th:value="${course.courseName}"
                        th:text="${course.courseName}">
                    </option>
                </select>
                <br>
                <button type="submit">Assign</button>
            </form>
        </div>

        <!-- Block for teacher-timetable -->
        <div class="entity-timetable">
            <h2>Teacher Time-Table</h2>

            <form th:action="@{/admin/timetable/teacher-selected-timetable/{teacherId}(teacherId=${teacher.id})}"
                method="get">
                <div class="form-group">
                    <label for="dateFrom">From:</label>
                    <input type="date" id="dateFrom" name="dateFrom" required class="date-input" />
                </div>
                <div class="form-group">
                    <label for="dateTo">To:</label>
                    <input type="date" id="dateTo" name="dateTo" required class="date-input" />
                </div>

                <!-- Container for Get Selected Date Time-Table button -->
                <div class="button-container">
                    <button id="saveButton" type="submit" class="button-common-style">Get Selected Date
                        Time-Table</button>
                </div>
            </form>
            <br><br>

            <!-- Container for Get All Time-Tables button -->
            <div class="button-container">
                <form th:action="@{/admin/timetable/teacher-timetable/{teacherId}(teacherId=${teacher.id})}"
                    method="get">
                    <button id="saveButton" type="submit" class="button-common-style">Get Full Time-Table List</button>
                </form>
            </div>
        </div>

    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
    <script th:src="@{/js/enable-edit.js}"></script>

</body>

</html>