<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Teacher Card</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/admin-panel :: div"></div>

    <div class="container">
        <h2>Teacher Details</h2>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" th:value="${teacher.firstName}" readonly />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" th:value="${teacher.lastName}" readonly />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" th:value="${teacher.email}" readonly />
        </div>
        <div class="form-group">
            <label for="department">Department:</label>
            <input type="text" id="department" th:value="${teacher.department.name}" readonly />
        </div>
        <div class="form-group">
            <label for="mainCourse">Main Course:</label>
            <input type="text" id="mainCourse" th:value="${teacher.mainCourse.courseName}" readonly />
        </div>
        <button type="submit" onclick="openEditPopup()">Edit</button>
    </div>

    <div class="container">
        <div>
            <h2>Additional Courses</h2>
            <ul>
                <li th:each="course : ${teacher.additionalCourses}" class="course-item">
                    <div>
                        <span th:text="${course.courseName}"></span>
                    </div>
                    <button th:data-course-id="${course.id}" class="action-button remove-button">Remove</button>
                </li>
            </ul>
        </div>
        <!-- Generate options for Additional courses using Thymeleaf -->
        <select>
            <option value="">Select Additional Course</option>
            <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.courseName}">
            </option>
        </select>
        <button class="action-button assign-button">Assign</button>
    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
</body>

</html>