<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Department Card</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/nav-panel :: div"></div>

    <div class="container-entity-card">

        <div class="entity-details">
            <h2>Department Details</h2>
            <form th:action="@{/department/edit-department/{departmentId}(departmentId=${department.id})}"
                method="post">
                <div class="form-group">
                    <label for="name">Department Name:</label>
                    <input type="text" id="name" th:value="${department.name}" name="name" readonly required />
                </div>
                <div class="form-group">
                    <label for="faculty">Faculty:</label>
                    <select id="faculty" name="faculty" readonly required>
                        <!-- Display the currently assigned faculty initially -->
                        <option th:value="${'ID: ' + department.faculty.id + ', ' + department.faculty.facultyName}">
                        </option>
                        <!-- Generate options for other faculties using Thymeleaf -->
                        <option th:each="faculty : ${faculties}" th:value="${faculty.id}"
                            th:text="${'ID: ' + faculty.id + ', ' + faculty.facultyName}"
                            th:selected="${department.faculty.id == faculty.id}">
                        </option>
                    </select>
                </div>

                <!-- Container for buttons -->
                <div class="button-container" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button id="saveButton" type="submit" class="button-common-style">Save</button>
                    <button id="editButton" type="button" class="button-common-style">Edit</button>
                </div>
            </form>
        </div>

        <!-- Add textarea for alert message -->
        <div class="entity-details">
            <h3>Send Department Message</h3>
            <form th:action="@{/department/send-alert/{departmentId}(departmentId=${department.id})}" method="post">
                <div class="form-group">
                    <textarea id="alertMessage" name="alertMessage" style="height: 100px; flex-grow: 1;"
                        required></textarea>
                </div>
                <div class="button-container">
                    <button id="sendAlertButton" type="submit" class="button-common-style">Send</button>
                </div>
            </form>
        </div>


    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
    <script th:src="@{/js/enable-edit.js}"></script>

</body>

</html>