<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Card</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>

<body>

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/nav-panel :: div"></div>

    <div class="container-entity-card">

        <div class="entity-details">
            <h2>Admin Details</h2>
            <form th:action="@{/admin/edit-admin/{adminId}(adminId=${admin.id})}" method="post">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" th:value="${admin.firstName}" name="firstName" readonly
                        required />
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" th:value="${admin.lastName}" name="lastName" readonly required />
                </div>
                <div class="form-group">
                    <label for="active">Active:</label>
                    <select id="active" name="active" readonly required>
                        <option th:text="True" th:selected="${admin.active}">True</option>
                        <option th:text="False" th:selected="${!admin.active}">False</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" th:value="${admin.email}" name="email" readonly required />
                </div>

                <!-- Container for buttons -->
                <div class="button-container" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button id="saveButton" type="submit" class="button-common-style">Save</button>
                    <button id="editButton" type="button" class="button-common-style">Edit</button>
                </div>
            </form>
        </div>

        <!-- Add textarea for alert message -->
        <div class="entity-details">
            <h2>Create Alert Message</h2>
            <form th:action="@{/admin/send-alert/{adminId}(adminId=${admin.id})}" method="post">
                <div class="form-group">
                    <textarea id="alertMessage" name="alertMessage" style="height: 100px; flex-grow: 1;"
                        required></textarea>
                </div>
                <div class="button-container">
                    <button id="sendAlertButton" type="submit" class="button-common-style">Send Alert</button>
                </div>
            </form>
        </div>

    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
    <script th:src="@{/js/enable-edit.js}"></script>

</body>

</html>