<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/nav-panel :: div"></div>

<body>

    <div class="container">
        <h2>Admin List</h2>
        <table class="table table-bordered">
            <caption hidden>All Admins Table</caption>
            <thead>
                <tr>
                    <th style="border: none; width: 3vh;" sec:authorize="hasRole('ROLE_ADMIN')"></th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Active</th>
                    <th>Email</th>
                    <th style="border: none; width: 3vh;" sec:authorize="hasRole('ROLE_ADMIN')"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="admin, rowStat : ${admins}">
                    <td style="border: none;" sec:authorize="hasRole('ROLE_ADMIN')">
                        <!-- Edit Button -->
                        <a th:href="@{/admin/admin-card/{adminId}(adminId=${admin.id})}">
                            <button th:id="'editButton-' + ${rowStat.index}" class="icon-button">
                                <i class="fas fa-edit edit-icon"></i>
                            </button>
                        </a>
                    </td>
                    <td th:text="${admin.id}"></td>
                    <td th:text="${admin.firstName}"></td>
                    <td th:text="${admin.lastName}"></td>
                    <td th:text="${admin.active}"></td>
                    <td th:text="${admin.email}"></td>

                    <td style="border: none;" sec:authorize="hasRole('ROLE_ADMIN')">
                        <!-- Remove Button -->
                        <form th:action="@{/admin/delete/{adminId}(adminId=${admin.id})}" method="post">
                            <input type="hidden" name="adminId" th:value="${admin.id}" />
                            <button th:id="'removeButton-' + ${rowStat.index}" class="icon-button remove-button"
                                type="submit">
                                <i class="fas fa-trash-alt remove-icon"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
    <script th:src="@{/js/table-buttons.js}"></script>
</body>

</html>