<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Admin View</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
</head>

<body>
    <div class="container">
        <header th:replace="fragments/header :: header"></header>

        <aside id="sidebar">
            <nav>
                <ul class="menu">
                    <li class="menu-item">
                        <span class="menu-item-title">Teacher</span>
                        <ul class="submenu">
                            <li><a href="#">View All Teachers</a></li>
                            <li><a href="#">Teachers OPS</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <span class="menu-item-title">Student</span>
                        <ul class="submenu">
                            <li><a href="#">View All Students</a></li>
                            <li><a href="#">Students OPS</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <span class="menu-item-title">Staff</span>
                        <ul class="submenu">
                            <li><a href="#">View All Staff</a></li>
                            <li><a href="#">Staff OPS</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <span class="menu-item-title">Faculty</span>
                        <ul class="submenu">
                            <li><a href="#">View All Faculties</a></li>
                            <li><a href="#">Faculties OPS</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <span class="menu-item-title">Departments</span>
                        <ul class="submenu">
                            <li><a href="#">View All Departments</a></li>
                            <li><a href="#">Departments OPS</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <span class="menu-item-title">Group</span>
                        <ul class="submenu">
                            <li><a href="#">View All Groups</a></li>
                            <li><a href="#">Groups OPS</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <span class="menu-item-title">Course</span>
                        <ul class="submenu">
                            <li><a href="#">View All Courses</a></li>
                            <li><a href="#">Courses OPS</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <span class="menu-item-title">ClassRoom</span>
                        <ul class="submenu">
                            <li><a href="#">View All ClassRooms</a></li>
                            <li><a href="#">ClassRooms OPS</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <span class="menu-item-title">TimeTable</span>
                        <ul class="submenu">
                            <li><a href="#">View All TimeTables</a></li>
                            <li><a href="#">TimeTable OPS</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <span class="menu-item-title">Admin</span>
                        <ul class="submenu">
                            <li><a href="#">View All Admins</a></li>
                            <li><a href="#">Admins OPS</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>

        <section class="content">
            <!-- Your content goes here -->
        </section>

        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>

</html>