<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Faculty List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>

<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/nav-panel :: div"></div>

<body>

    <div class="container">
        <h2>Faculty List</h2>
        <table class="table table-bordered">
            <caption hidden>All Faculties Table</caption>
            <thead>
                <tr>
                    <th style="border: none; width: 3vh;"></th>
                    <th>ID</th>
                    <th>Faculty Name</th>
                    <th>Groups</th>
                    <th>Departments</th>
                    <th style="border: none; width: 3vh;"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="faculty, rowStat : ${faculties}">
                    <td style="border: none;">
                        <!-- Edit Button -->
                        <a th:href="@{/admin/faculty/faculty-card/{facultyId}(facultyId=${faculty.id})}">
                            <button th:id="'editButton-' + ${rowStat.index}" class="icon-button">
                                <i class="fas fa-edit edit-icon"></i>
                            </button>
                        </a>
                    </td>
                    <td th:text="${faculty.id}"></td>
                    <td th:text="${faculty.facultyName}"></td>
                    <td>
                        <select>
                            <option th:each="group : ${faculty.groups}" th:text="${group.groupName}"></option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option th:each="department : ${faculty.departments}" th:text="${department.name}"></option>
                        </select>
                    </td>
                    <td style="border: none;">
                        <!-- Remove Button -->
                        <form th:action="@{/admin/faculty/delete/{facultyId}(facultyId=${faculty.id})}" method="post">
                            <input type="hidden" name="facultyId" th:value="${faculty.id}" />
                            <button th:id="'removeButton-' + ${rowStat.index}" class="icon-button remove-button"
                                type="submit">
                                <i class="fas fa-trash-alt remove-icon"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
    <script th:src="@{/js/table-buttons.js}"></script>
</body>

</html>