<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Faculty Card</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>

<body>

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/nav-panel :: div"></div>

    <div class="container-entity-card">

        <div class="entity-details">
            <h2>Faculty Details</h2>
            <form th:action="@{/faculty/edit-faculty/{facultyId}(facultyId=${faculty.id})}" method="post">
                <div class="form-group">
                    <label for="facultyName">Faculty Name:</label>
                    <input type="text" id="facultyName" th:value="${faculty.facultyName}" name="facultyName" readonly
                        required />
                </div>
                <!-- Container for buttons -->
                <div class="button-container" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button id="saveButton" type="submit" class="button-common-style">Save</button>
                    <button id="editButton" type="button" class="button-common-style">Edit</button>
                </div>
            </form>
        </div>

        <!-- Add textarea for alert message -->
        <div class="entity-details">
            <h2>Send Faculty Alert</h2>
            <form th:action="@{/faculty/send-alert/{facultyId}(facultyId=${faculty.id})}" method="post">
                <div class="form-group">
                    <textarea id="alertMessage" name="alertMessage" style="height: 100px; flex-grow: 1;"
                        required></textarea>
                </div>
                <div class="button-container">
                    <button id="sendAlertButton" type="submit" class="button-common-style">Send Alert</button>
                </div>
            </form>
        </div>

    </div>

    <div th:replace="fragments/message :: div"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/work-panel.js}"></script>
    <script th:src="@{/js/enable-edit.js}"></script>

</body>

</html>